<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>
{% block title %}
Untitled Document
{% endblock %}
</title>
<link href="{{STATIC_URL}}style.css" rel="stylesheet" type="text/css" />
<!-- <link href="C:/Users/hl/workspace/faahjaelp/static/style.css" rel="stylesheet" type="text/css" />-->
</head>

<body>
<div class="all">
 	<div class="headerOne">
    </div>
	<div class="con">
        <div class="headTwo"><h1>FåHjælp.dk </h1></div>
        <div class="menu">
        <a href='/'> Velkommen &nbsp;&nbsp;</a>   <a href="/hjaelp/"> Hjælp &nbsp;&nbsp;</a>
		{% if user.is_authenticated %}<a href="/profile/">Profil &nbsp;&nbsp;</a><a href="/logout/"> Log ud &nbsp;&nbsp;</a> 
			<a href="/profile/addJob/">  Tilføjl et nyt job &nbsp;&nbsp;</a>
			
		{%else%} <a href='/login/'> Login &nbsp;&nbsp;</a> 
		<a href='/register/'> Registrer &nbsp;&nbsp;</a>
		{% endif %}
		<a href="/arbejder/" style="float: right;"> Dem som vil hjælpe dig</a>
		</div>
		{% block typemenu %}
        <div class="jobtype">
        <ul id="nav">
        	<li><a href="/"> Job til alle</a></li>
	        {% for j in all_job_genres %}
	        	<li><a href= "/job/{{j.genre}}/">{{j.genre}}</a></li>
	        {% endfor %}
	     </ul>
        </div>
        {% endblock %}
	
        <div class="rigthside">
        </div>
  <div class="leftside">		
{% block content %}	
        
{% endblock %}
</div>
        <div class="button"> @ Copyright 2013 beta version</div>
	</div>
</div>
</body>
</html>
