{% extends 'base.html' %}

{% block title %}
ændre dit profil billede her 
{% endblock %}

{% block content %}


{{text}}
 <form action="" method="post" enctype="multipart/form-data" >
 	{% csrf_token %} 
 	dit nuværrende profile billede er: 
		{% if not customer.picture %}
			Du har ikke noget profile billede.
		{% else%}
			<img src="{{MEDIA_URL}}{{customer.picture}}" width="200" height="150">
		
		{% endif %}
 		{% if form.picture.errors %}  <div class="error">vælg et gyldigt billede  </div>{%endif%}
		<p><label for="id_picture">Picture:</label>{{form.picture}}</p>
	<input type="submit" name="delete" value="Slet" />
	<input type="submit" name="change" value="Ændre" />
	{{ form.errors }}
</form>

{% endblock %}